body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color: rgb(170, 79, 19);
}
.top-banner{
    display: flex;
}
img{
    max-width: 80%;
}
.half-width{
    width: 50%;
    padding: 30px;
}
.btn{
    text-decoration: none;
    background-color: rgb(35, 102, 156);
    color: #fff;
    padding: 10px 30px;
    border-radius: 6px;
   
    font-weight: 500;
}
.btn:hover{
    color: rgb(35, 102, 156) ;
    background-color: #fff;
    font-weight: 600;
    border:3px solid rgb(35, 102, 156)  ;
   
}
p{
    color: rgb(59, 53, 53);
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
  
}